.root {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 5px solid #232c3b;
}

.header-container h1 {
    font-size: 2.2rem;
    font-weight: 300;
}

.moneyContainer {
    font-weight: bold;
}

.caption {
    font-size: .8rem;
}

.money {
    text-align: right;
    color: #22C6CB;
    font-size: 2rem;
}

.accountInfo {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin-bottom: 1em;
}