.root {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 5px solid #232c3b;
}

.header-container h1 {
    font-size: 2.2rem;
    font-weight: 300;
}

.align-right {
    text-align: right;
}

.bold {
    font-weight: 600;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em auto;
}

select, input {
    font-size: 13px;
    border-radius: 10px;
    padding: 8px 10px;
    cursor: pointer;
}

.select > option {
    font-size: 15px;
}

.dates-container {
    display: flex;
    gap: 1em;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: end;
}

.separator {
    display: flex;
    background-color: #000;
    height: .05em;
    max-width: 1200px;
    margin: 0 auto;
}

.guardar {
    margin: 1em auto;
}